<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tic Tac Toe</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 0;
        }
    </style>
</head>

<body>
    <div id="app">
    </div>
</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>

</html>